doctype html
html
    head
        title literallyjustapictureofadog
        link(rel="stylesheet", href="/static/style.css")
    body
        h1 LITERALLY JUST A PICTURE OF A DOG
        #main1
            img(src='https://d1ahv7jqi833s4.cloudfront.net/dog.png')
        #main2
            #msg1
                div Questions or comments? Email me at nskobov.websites@gmail.com
            #msg2
                p Want to see the code? <a href='https://github.com/nikita-skobov/literallyjustapictureofadog'> Github </a>
        
