doctype html
html
    head
        title literallyjustapictureofadog
        link(rel="stylesheet", href="/static/style.css")
    body
        h1 LITERALLY JUST A PICTURE OF A DOG
        #main1
            img(src=url)
            //- dynamically load an image url which is passed from the server
        #main2
            #msg1
                div Questions or comments? Email me at #{my_email}
                //- dynamically load an email address which is passed from the server
            #msg2
                p Want to see the code? <a href=#{github}> Github </a>
                //- dynamically load github repository address which is passed from the server
        
